<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <video src="" controls>video</video></div>
            <div class="col box1">
                字卡
                <div class="eng_card_box"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="title1">Title</p>
                <span class="view">觀看次數</span>
                <button class="btn1">英文講解</button>
                <button class="btn2">程式講解</button>
                <div class="info_box"></div>
            </div>
            <div class="col">
                <div style="font-size: 24px;font-weight: bold;">文法</div>
                <div class="box2"></div>
            </div>
        </div>
        <br>
    </div>
</body>
<app-footer></app-footer>