<body>
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col">
                <div class="box1">
                    <a href="#" routerLink="/video">
                        <div class="videobox">
                            <video src="">video</video>
                        </div>
                        <div class="inforbox">
                            <p style="font-size: 24px;">Title</p>
                            <p>觀看次數</p>
                            <p>最後觀看的進度時間</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="box1">
                    <a href="#" routerLink="/video">
                        <div class="videobox">
                            <video src="">video</video>
                        </div>
                        <div class="inforbox">
                            <p style="font-size: 24px;">Title</p>
                            <p>觀看次數</p>
                            <p>最後觀看的進度時間</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col">
                <div class="box1">
                    <a href="#" routerLink="/video">
                        <div class="videobox">
                            <video src="">video</video>
                        </div>
                        <div class="inforbox">
                            <p style="font-size: 24px;">Title</p>
                            <p>觀看次數</p>
                            <p>最後觀看的進度時間</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="box1">
                    <a href="#" routerLink="/video">
                        <div class="videobox">
                            <video src="">video</video>
                        </div>
                        <div class="inforbox">
                            <p style="font-size: 24px;">Title</p>
                            <p>觀看次數</p>
                            <p>最後觀看的進度時間</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col">
                <div class="box1">
                    <a href="#" routerLink="/video">
                        <div class="videobox">
                            <video src="">video</video>
                        </div>
                        <div class="inforbox">
                            <p style="font-size: 24px;">Title</p>
                            <p>觀看次數</p>
                            <p>最後觀看的進度時間</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="box1">
                    <a href="#" routerLink="/video">
                        <div class="videobox">
                            <video src="">video</video>
                        </div>
                        <div class="inforbox">
                            <p style="font-size: 24px;">Title</p>
                            <p>觀看次數</p>
                            <p>最後觀看的進度時間</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <br><br>
        <div class="justify-content-center d-flex">
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a class="active" href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">&raquo;</a>
            </div>
        </div>
        <br>
    </div>
</body>
<app-footer></app-footer>
