<body>
    <br><br><br><br><br><br>
    <div class="d-flex justify-content-center">
        <h1>個人資料</h1>
    </div>
    <form action="">
        <div class="d-flex justify-content-center">
            <input type="text" class="form-control input-box-size" name="name" placeholder="姓名" required></div>
        <br>
        <div class="d-flex justify-content-center">
            <input type="email" class="form-control input-box-size" name="email" placeholder="電子信箱" required></div>
        <br>
        <div class="d-flex justify-content-center">
            <input type="password" class="form-control input-box-size" name="passwd" placeholder="密碼" required></div>
        <br>
        <div class="d-flex justify-content-center">
            <input type="text" class="form-control input-box-size" name="identity" placeholder="身分" required></div>
        <br>
        <div class="d-flex justify-content-center">
            <input type="text" class="form-control input-box-size" name="education" placeholder="教育程度" required></div>
        <br><br>
        <div class="d-flex justify-content-center">
            <button routerLink="/home">更新</button>
        </div>
    </form>
    <br><br><br><br><br><br><br><br>
</body>
<app-footer></app-footer>